[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinstaller = "*"
transformers = "*"
torch = "*"
torchvision = "*"
accelerate = ">=0.26.0"
ollama = "*"

[dev-packages]

[requires]
python_version = "3.12"
